html {
  background-color: hsla(193, 30%, 64%, 0.78);
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}

body {
  margin: 0;
  padding: 0;
}

.search-form {
  max-width: 750px;
  margin: 50px auto;
}

input.search {
  padding: 20px;
  width: 120%;
  text-align: center;
  position: relative;
  outline: 0;
  left: -10%;
  border: 10px solid #f7f7f7;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.suggestions li {
  background-color: white;
  border-bottom: 1px solid #d8d8d8;
  padding: 20px;
  text-align: center;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}
.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}